.preview {
  margin: 2rem;
  height: 10rem;
  width: 20rem;
  background: var(--background-color);
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.preview:hover {
  transform: scale(1.05);
  box-shadow: var(--card-box-shadow);
}

.navigation {
  position: absolute;
  top: 20%;
  width: 20%;
  height: 60%;
  cursor: pointer;
  text-align: center;
}

.navigation:hover {
  background-color: gray;
  opacity: 0.3;
}

.navigation[data-pos="left"] {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 0;
}

.navigation[data-pos="right"] {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  right: 0;
}

.navigation:hover .arrow {
  opacity: 1;
}

.arrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  top: 50%;
  width: 2rem;
  height: 2rem;
  position: relative;
  opacity: 0;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
