/* Footer */
.footer .info {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.footer .info > * {
  text-align: center;
}

.footer .info > *:first-child {
  text-align: left;
}

.footer .info > *:last-child {
  text-align: right;
}

.footer .credits {
  text-align: center;
}
