nav.navbarSettings select {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    appearance: none;
    font-size: 0.75rem;
}

nav.navbarSettings {
    justify-content: end;
    font-size: 0.75rem;
}

nav.navbarSettings li {
    padding: 0;
    margin: 0;
}

nav.navbarLinks a {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

nav.navbarLinks li:hover {
    background-color: var(--contrast-focus);
    text-decoration: underline;
}

nav.navbarLinks a {
    color: var(--contrast);
}

nav.navbarLinks a.brand {
    text-decoration: none;
    color: var(--primary)
}