.navigation>a {
    box-shadow: var(--card-box-shadow);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    max-width: 33%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navigation>span {
    width: 33%;
}

.navigation {
    margin-top: 1rem;
    margin-bottom: 3rem;
}