.container {
    width: 20rem;
    padding: 0;
    margin: 1rem;
}

.imagePlaceholder {
    height: 10rem;
    width: 100%;
    background: var(--background-color);
    position: relative;
}

.container>div {
    padding: 1rem;
}

.container>div a>em {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.container>div a>em>span {
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
}

.container .details {
    display: flex;
    justify-content: space-between;
}